In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import StandardScaler
import copy
import seaborn as sns
import tensorflow as tf
from sklearn.linear_model import LinearRegression

# Dataset

data source:https://archive.ics.uci.edu/dataset/560/seoul+bike+sharing+demand

In [50]:
dataset_cols = ['bike_count', 'hour', 'temp', 'humidity', 'wind', 'visibility', 'dew_pt_temp', 'radiation', 'rain', 'snow', 'functional']

df = pd.read_csv('./datasets/SeoulBikeData.csv').drop(["Date", "Holiday", "Seasons", "s)", "m2)"], axis=1)

In [51]:
df.columns = dataset_cols
df["functional"] = (df["functional"] == "Yes").astype(int)
df = df.drop(["hour"], axis=1)

In [52]:
df.head()

   bike_count  temp  humidity  wind  ...  radiation  rain  snow  functional
0          12   254         0  -5.2  ...      -17.6   0.0   0.0           1
1          12   204         1  -5.5  ...      -17.6   0.0   0.0           1
2          12   173         2  -6.0  ...      -17.7   0.0   0.0           1
3          12   107         3  -6.2  ...      -17.6   0.0   0.0           1
4          12    78         4  -6.0  ...      -18.6   0.0   0.0           1

[5 rows x 10 columns]